<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&D VTT</title>
    <style>
        #map {
            border: 1px solid black;
        }
        .token {
            font-size: 2em;
            cursor: grab;
            margin: 5px;
        }
        #token-container {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h1>D&D VTT</h1>
    <div id="token-container"></div>
    <canvas id="map" width="800" height="600"></canvas>
    <!-- Include Socket.IO client library -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
